*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Overpass', sans-serif;
}

body{
    
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

button {
    outline: none;
    border: none;
}

button:focus{
    outline: none;
    border: none;
}

p{
    font-weight: 500;
    font-size: 15px;
}

li{
    list-style: none;
}

/* Navbaar Starts, */


.Logo i img {
    animation:  both 2s infinite  ease-in-out;
    animation-name: Logo;
}

@keyframes Logo {
    0%{
    transform: translatey(-4px);
    }

    50%{
    transform: translatey(0px);
    }

    100%{
    transform: translatey(-4px);
        
    }
}

.Header {
    border-bottom: 2px solid #eee;
    box-shadow: 0px 0px 20px 5px #eee;
    background-color: #eee;
}


.Navbar{
    /* display: flex;
    align-items: center;
    text-align: center; */
    padding-top: 64px;
}

.Navbar .NavLinks{
    color: #000;
    margin: 0 20px;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.3s all;
    position: relative;
}

.Navbar .NavLinks::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background-color: #009432;
    height: 2px;
    width: 0px;
    transition: 0.2s;
}

.Navbar .NavLinks:hover::after{
    width: 100%;
    left: 0;
}

.Navbar .NavLinks:hover{
    color: #009432;
}

/* Navbaar End, */



